@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.mainLogo { 
  @include flexbox(space-between, space-between);
  width: fit-content;
  & > svg {
    width: 60px;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 18px;
  } 
}
.textContainer {
  @include flexbox();
  flex-direction: column;
}
.noneContent {
  @include forTablet {
    display: none;
  }
}
.textForTablet {
  display: none;
}
.textForTablet {
  @include forTablet {
    display: block;
  }
}
@include forTablet {
  .mainLogo {
    display: block;
    text-align: center;
    & > svg {
      margin: auto
    }
   
  }
}
