@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.mainTitle {
    padding-bottom: spacing(5.75);
    width: 100%;
}
.wrapperCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 20px;
    justify-content: center;
  
}
.cardItem {
    background-color: var(--card-default-background);
    border-radius: 24px;
    max-width: 700px;
    padding: spacing(4.25,6.5);

    & .title {
        padding-bottom: 20px;
    }
    & .description{
        padding-right: 10px;
        max-width: 280px;
    }
}


