@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.Logo { 
  @include flexbox(space-between, space-between);
  width: fit-content;
  & > svg {
    width: 60px;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 18px;
  } 
}
.textContainer {
  @include flexbox();
  flex-direction: column;
}
.textForTablet {
  display: none;
}

@include forTablet {
  .mainLogo {
    display: block;
    text-align: center;
    & > svg {
      margin: auto
    }
  }
  .textForTablet {
    display: block
  }
  .noneContent {
    display: none
  }  
}
