@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.followCard {  
  @include flexbox(align-items);
  background-color: var(--card-default-background);
  border-radius: spacing(3);
  padding: spacing(2.5, 1, 2, 5.25);
  color: var(--typography-default-color);
  position: relative;
  z-index: -2;
  width: 100%;
}
.svgWrap {
  background-color: white;
  display: inline-block;
  width: 27px;
  height: 20px;
  position: absolute;
  z-index: -1;
  top:30px;
  left:50px
}
.name {
  padding-left: spacing(2);
}