@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.footer {
  width: 100%;
  // height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid rgba(255,255,255, 0.3);
  padding-top: spacing(7);
  padding-bottom: spacing(6);
}
.coinWrapper {
  display: flex;
}
.coin {
  margin-right: spacing(2);
}
.linksWrapper {
  display: flex;
  min-width: 320px;
  justify-content: space-between;
  
}